<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>学生成绩管理系统</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/index.css') }}"
    />
  </head>
  <body>
    <div class="sider">
      <div class="left">
        <div class="logo">
          <a href="{{ url_for('index') }}"
            ><img
              src="{{ url_for('static', filename='imags/logo.png') }}"
              alt="Logo"
              height="45"
          /></a>
        </div>
      </div>
      <div class="center">
        <h2>学生成绩管理系统</h2>
      </div>
      <div class="right">
        <div class="user">
          <span class="login"><a href="{{ url_for('login') }}">登录</a></span>
          <span class="login">|</span>
          <span class="login"
            ><a href="{{ url_for('register') }}">注册</a></span
          >
        </div>
      </div>
    </div>
    <div class="top-bar">
      <input type="text" id="searchInput" placeholder="搜索姓名/学号/课程" />
      <button onclick="openModal()">+ 添加学生</button>
    </div>

    <table id="grades-table">
      <thead>
        <tr class="title">
          <th>学号</th>
          <th>姓名</th>
          <th>课程</th>
          <th>成绩</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>

    <!-- 添加/编辑弹窗 -->
    <div id="modal">
      <div id="modalContent">
        <h3 id="modalTitle">添加学生</h3>
        <input type="text" id="studentId" placeholder="学号" />
        <input type="text" id="studentName" placeholder="姓名" />
        <input type="text" id="course" placeholder="课程" />
        <input type="number" id="grade" placeholder="成绩" />
        <div class="actions">
          <button id="submitBtn">提交</button>
          <button onclick="closeModal()">取消</button>
        </div>
      </div>
    </div>
    <div class="bottom">
      <h1>Copyright 2025 by <a href="{{ url_for('index') }}">知绩云</a></h1>
    </div>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  </body>
</html>
